* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(222, 184, 12);
    padding: 10px;
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow wrapping of navigation items if necessary */
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
    margin: 0 10px;
}
h1 {
    color: rgb(222, 184, 12);
}

p {
    padding: 10px;
}
main {
    max-width: 1200px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #c6e1c1;
    color: #333;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main img {
    border-radius: 5px;
    width: 150px; /* Added unit */
    height: auto;
    border: 1px solid rgb(39, 36, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p { padding: 0;}
footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

header {
    justify-content: center; /* Center items horizontally */
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #c6e1c1;
    color: #333;
    text-align: center;
}
